li{
    margin-bottom: 15px;
}

#head{
    background-color: rgb(253, 236, 207);
}

#head:hover{
    background-color: pink;
}

td{
    border: 3px dashed rgb(8, 158, 218);
    text-align: center;
    padding: 14px;
}

table, tr{
    border: 3px dashed rgb(8, 158, 218);
    border-collapse: collapse;
}

.chk{
    width : 90px;
}

.name{
    width: 90px;
}
.age{
    width: 100px;
}
.grade{
    width: 90px;
}
.exp{
    width: 150px;
}
iframe{
    width: 740px;
    height: 500px;
}